# Dependencies
node_modules/

# Build outputs
dist/
release/
src-tauri/target/

# Binaries and Large Data
bin/bitcoind.exe
data/
logs/

# Sensitive Information
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.cookie

# System files
.DS_Store
Thumbs.db
desktop.ini

# Temporary & Test Files
*.zip
manual_testing/
test_extract/
.env.*
run-test.bat
src-tauri/gen/
